@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';
.workBlock {
  //background-color: $backgroundColor2;
  background-image: url(./../assets/img/fon.jpg);

  .worksContainer {
    justify-content: center;
    margin-top: -20px;

    .titleBackground {
      background-color: $backgroundColor4;
      width: 100%;
      height: 35px;

      .MyWorks {
        text-align: center;
        color: $textColor2;

      }
    }

    .prokladka {
      @include prokladka();
    }
    .workKontainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
  .prokladka {
    @include prokladka();
  }
}




